<li style="margin-bottom: 6px;">
  <div class="btn-group pull-right">
    <%= link_to 'Edit', edit_admin_list_path(list), class: 'btn btn-warning btn-xs' %>
    <%= link_to 'Remove', admin_list_path(list, method: :delete), class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
  </div>
  
  <%= link_to list.title, admin_list_path(list) %>
</li>