<div class="well">
  <form>
    <legend>CSV Upload</legend>
    <div class="form-group">
      <%= file_field_tag :csv, multipart: true, class: 'form-group' %>
      <%= link_to '#', '', class: 'form-group' %>
    </div>
  </form>
</div>