<% @artists.each_slice(1) do |slice| %>
  <div class="row">
    <% slice.each do |artist| %>
      <%= link_to artist do %>
      <strong><%= artist.name %></strong>
      <% end %>
    <% end %>
  </div>
<% end %>