<%= link_to 'Delete All Ads', destroy_all_admin_ads_path, method: :delete,
    class: 'btn btn-danger pull-right', data: { confirm: 'Are you sure?' } %>

<h3>Ad Upload</h3>

<%= render 'admin/ads/form' %>