<%= link_to 'Delete All Banners', destroy_all_admin_banners_path, method: :delete,
    class: 'btn btn-danger pull-right', data: { confirm: 'Are you sure?' } %>

<h3>Banner Upload</h3>

<%= render 'admin/banners/form' %>