<h3>Unauthorized Events</h3>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= link_to 'Import External Calendars', new_source_path,
          id: 'google-cal-btn', class: 'btn btn-primary form-control' %>
    </div>
  </div>

  
</div>
<table class="table table-striped">
  <tr>
    <th class="col-md-3">Date</th>
    <th class="col-md-7">Name</th>
  </tr>
  
  <% @events_authorization.order('start_time ASC').each do |event| %>
    <tr>
      <td><small><%= event.start_time.strftime('%Y-%m-%d %H:%M') %></small></td>
      <td><%= link_to event.title, edit_event_path(event) %></td>
      
    </tr>
  <% end %>
</table>