<%= link_to "/admin/venues/#{venue.id}/edit", class: 'venue col-md-12' do %>
  <strong><%= venue %></strong>
  
  <% unless venue.address.nil? %>
    <p><small><%= venue.address %></small></p>
  <% end %>
  
  <% unless venue.city.nil? %>
    <p><small><%= venue.city %></small></p>
  <% end %>
<% end %>