<% @venues.each_slice(1) do |slice| %>
  <div class="row">
    <% slice.each do |venue| %>
      <%= link_to venue do %>
        <strong><%= venue.name %></strong>
        <p><%= venue.address %></p>
        <p><%= venue.city %></p>
      <% end %>
    <% end %>
  </div>
<% end %>