<% venues.each_slice(1) do |slice| %>
  <div class="row">
    <% slice.each do |venue| %>
      <% next if venue.name.nil? || venue.name.empty? %>
      
      <%= link_to venue, class: 'venue col-md-12' do %>
        <strong><%= venue %></strong>
        
        <% unless venue.address.nil? %>
          <p><%= venue.address %></p>
        <% end %>
        
        <% unless venue.city.nil? %>
          <p><%= venue.city %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>