<div class="venue">
  <legend><%= venue %></legend>

  <strong>Shows</strong>
  <ul style="list-style-type: none; padding-left: 0;">
    <% venue.events.order('start_time ASC').each do |event| %>
      <li><%= event.start_time.strftime('%Y-%m-%d %H:%M') %> – <%= link_to event, event %></li>
    <% end %>
  </ul>

  <br>
  
  <strong>Artists who played here</strong>
  <ul style="list-style-type: none; padding-left: 0;">
    <% venue.artists.order('name ASC').each do |artist| %>
      <li><%= link_to artist, artist %></li>
    <% end %>
  </ul>
</div>