<div class="venue">

  <legend><%= venue.name %></legend>

  <strong>Shows</strong>
  <ol>
    <% venue.events.each do |event| %>
      <li><%= link_to event, event %></li>
    <% end %>
  </ol>

  <br>
  
  <strong>Artists who played here</strong>
  <ol>
    <% venue.artists.each do |artist| %>
      <li><%= link_to artist, artist %></li>
    <% end %>
  </ol>
</div>