// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

#events {
  legend {
    padding: 0;
    margin: 0;
  }
}

.event {
  padding-top: 10px;
  margin-bottom: 16px;
  
  color: $text-color;

  strong {
    color: $brand-primary;
  }

  &:hover, &:active, &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.type-icon {
  margin-top: 3px;
  margin-right: 10px;
}

#begin-at-time {
  font-weight: bold;
}

@media (max-width: 480px), (max-width: 768px) {
  .event #name {
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) and (max-width: 980px), (min-width: 1200px) {
  .event #name {
    display: inline-block;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}