// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";


// Set hover background color
.event a div[class*='col-'] {
  &:hover, &:active, &:focus {
    background-color: darken(white, 5%);
  }
}

// Event title size
.event legend {
  font-size: $font-size + 8px;
  color: lighten(black, 5%);
}

// Remove default bootstrap link effects
.event a {
  outline: 0;
  color: lighten(black, 5%);
  &:hover, &:active, &:focus {
    color: lighten(black, 5%);
    text-decoration: none;
  } 
}