// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";


// Set hover background color
.event a > div[class*='col-'] {
  overflow: hidden;
  height: 200px;

  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: 15px;

  &:hover, &:active, &:focus {
    ;
  }
}

// Event title size
.event legend {
  overflow: hidden;
  font-size: $font-size + 8px;
  font-weight: bold;
  color: yellow;
  text-shadow: 1px 1px darken(yellow, 75%);
  border: 0;
}

.event strong {
  overflow: hidden;
  font-size: $font-size + 4px;
  color: yellow;
  text-shadow: 1px 1px darken(yellow, 75%);
}

.event p {
  overflow: hidden;
  font-size: $font-size + 2px;
  color: lighten(yellow, 10%);
  text-shadow: 1px 1px darken(lighten(yellow, 10%), 75%);
}

// Remove default bootstrap link effects
.event a {
  outline: 0;
  color: lighten(black, 5%);
  &:hover, &:active, &:focus {
    color: lighten(black, 5%);
    text-decoration: none;
  } 
}