@import "global";

body, html, #page-content {
  height: 100%;
  min-height: 100%;
}

textarea {
  resize: vertical;
}

body {
  padding-top: 50px;
  background-color: lighten(black, 33.3%);

  font-size: $font-size;
  line-height: 18px;
}


#logo {
  font-size: $font-size + 4px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px darken(white, 75%);
  
  &:hover, &:focus, &:active {
    color: darken(white, 15%);
  }
}

p, ol, ul, td, pre {
  font-size: $font-size;
  line-height: 18px;
}

#page-body {
  min-height: 100%;
  margin-bottom: -15px;
}