<section id="ads">
  <% Admin::Ad.all.each do |ad| %>
    <%= link_to image_tag(ad.image(:medium), size: '300x300', alt: :advertisement, class: 'ad'), ad.url %>
  <% end %>
</section>

<div
  class="fb-like-box"
  data-href="https://www.facebook.com/PinUpGattawa"
  data-width="100%"
  data-height="250px"
  data-colorscheme="light"
  data-show-faces="true"
  data-header="false"
  data-stream="false"
  data-show-border="false">
</div>