<p style="text-align: justify;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac nunc ligula. Aliquam molestie ante lorem, eget semper dui tempus sit amet. Sed dolor libero, ornare in elit vitae, fermentum pretium ligula. Nulla feugiat diam ligula, vitae venenatis magna molestie eget.
</p>

<%= yield :filters %>